<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptions</title>
</head>
<body>
    <h1>Adopt a pet here</h1>
    <form action="/submit" method="post">
        <label>What type of Pet would you like to adopt?
            <input type="text" id="petKind" name="petKind">
        </label>
        <br>
        <label>Quantity: 
            <input type="text" id="quantity" name="quantity">
        </label>
        <br>
        <label>Color: 
            <input type="text" id="color" name="color">
        </label>
        <br>
        <button id="click">Submit Order</button>
    </form>


    <p id="display"></p>
</body>
</html>